benchmarks/coverage.sh
benchmarks/cleanup.sh

benchmarks/**/coverage
benchmarks/**/testruns
benchmarks/**/**/testruns
benchmarks/**/*.gcno
benchmarks/**/*.gcda
benchmarks/**/**/*.gcno

benchmarks/printtokens/printtokens
benchmarks/printtokens2/printtokens2
benchmarks/replace/replace
benchmarks/schedule/schedule
benchmarks/schedule2/schedule2
benchmarks/tcas/tcas
benchmarks/totinfo/totinfo

benchmarks/printtokens/**/printtokens
benchmarks/printtokens2/**/printtokens2
benchmarks/replace/**/replace
benchmarks/schedule/**/schedule
benchmarks/schedule2/**/schedule2
benchmarks/tcas/**/tcas
benchmarks/totinfo/**/totinfo

src/__pycache__
.DS_Store
